{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

<head>
    <title>Лот- {{ lot.name }}</title>
    <header>{% include "header.html" %}</header>
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
</head>

<body>
<h1 align="center">{{ bet.price }}</h1>
<h1 align="center">{{ lot.name }}</h1>
<h3>{{ lot.description }}</h3>
<image>{{ lot.image }}</image>
<h3>Дата окончания лота: {{ lot.end_date }}</h3>
<form action = {% url 'auction:bet' lot.id %}, method="post">
    {% csrf_token %}
    <label for="BetForm">Ваша ставка: </label>
    <input id="BetForm" type="text" name="BetForm" value= {{ bet.price }}>
    <input type="submit" value="Сделать ставку">
    {{ form.as_p }}
</form>
<label>Предыдущие ставки:</label>

{% if latest_bet_list %}
    <ul>
    {% for bet in latest_bet_list %}
            <div align="left" class="page-header">
                <h1 align="left">{{ bet.id }} {{ bet.price }} {{ bet.user_bet }} {{ bet.time }}</h1>
            </div>
    {% endfor %}
    </ul>
    {% else %}
    <p>На этот лот ещё не были сделаны ставки.</p>
{% endif %}

</form>
</body>