<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>auction</title>
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
  <style>
   body { margin: 0; }
   header {
    display: block;
    background: #7ed8a5 repeat-x;
    height: 80px; /* Высота шапки */
    text-align: center; /* Выравнивание по центру */
   }
   .header-bg img {
    position: relative; /* Относительное позиционирование */
    top: 40px; /* Сдвигаем картинку вниз */
   }
  </style>
 </head>
 <body>
  <header>
      <ul class="nav nav-pills">
        <li role="presentation"><a href="http://127.0.0.1:8000/auction/">Аукцион</a></li>
        <li role="presentation"><a href="http://127.0.0.1:8000/auction/register/">Регистрация</a></li>
        <li role="presentation"><a href="http://127.0.0.1:8000/auction/login/">Авторизация</a></li>
        <li role="presentation"><a href="http://127.0.0.1:8000/auction/login/">Выход</a></li>
      </ul>
  </header>
 </body>
</html>