{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

<head>
    <title>Аукцион</title>
    <header>{% include "header.html" %}</header>
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
</head>

<body>
    {% if latest_lot_list %}
    <ul>
    {% for lot in latest_lot_list %}
        <div align="center" class="panel panel-info">
            <div align="center" class="panel-heading">
                <h1 align="center"><a href="{% url 'auction:detail' lot.id %}">{{ lot.name }}</a></h1>
            </div>
            <div class="panel-body">
            <a href="{% url 'auction:detail' lot.id %}">{{ lot.description }}</a>
            </div>
        </div>
    {% endfor %}
    </ul>
    {% else %}
    <p>No lots are available.</p>
    {% endif %}
</body>