<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="ru">
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<head>
    <title>Авторизация</title>
    <header>{% include "header.html" %}</header>
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
  </head>
     <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-default">Авторизоваться</button>
    </form>
  </body>
</html>