<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="ru">
<head>
    <title>Регистрация</title>
    <header>{% include "header.html" %}</header>
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
  </head>
  <body>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-default">Зарегистрироваться</button>
    </form>
  </body>
</html>